.dark {
  background: black;
}

.title {
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 0.3em;
  font-size: 25px;
}

.img-space {
  padding: 1em;
  display: block;
  margin: 0 auto;
}

.bottom-bar {
  font-size: 0.9em;
  text-align: center;
  color: white;
  margin: 0 auto;
}
